.product-description {
  font-size: 0.9rem;
  font-style: italic;
  color: white;
}
.modal-backdrop {
  background-color: transparent !important;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
  color: white;
}
.product-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-label {
  margin-top: 5px;
  color: black;
}
.select-color {
  margin-bottom: 10px;
  color: #333;
}
.landing-page {
  width: 90%;
}
