.product-description {
  font-size: 0.9rem;
  font-style: italic;
  color: white;
}
.modal-backdrop {
  background-color: transparent !important;
}
.info-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
  color: white;
}
.shipping-info-modal .modal-content {
  background-color: #f0f0f0;
  color: #000;
}

.prompt-modal .modal-content {
  background-color: #f0f0f0;
  color: #000;
}

.form-label {
  margin-top: 10px;
  color: black;
}
.select-color {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #333;
}
.main {
  min-height: 100vh;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.landing-description {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.button {
  border-radius: 25px;
  padding: 10px 25px;
}
.information-button-wrapper {
  display: flex;
}
